

html, body {
  overflow: hidden;
  margin: 0;
  background-color: black;
}

/** 所有标签改变鼠标指针 */
* {
  cursor: url("image/cursor.gif"), default;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  -o-user-select: none;
  user-select: none;
}


/**
 * 尝试对抗css3 transform scale 导致的图片和文字不锐利
 * https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth?redirectlocale=en-US&redirectslug=CSS%2Ffont-smooth
 * http://stackoverflow.com/questions/14677490/blurry-text-after-using-css-transform-scale-in-chrome
 */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 去掉按钮选中时的边框 */
button {
  outline: 0;
}
button:hover, button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}





.game-window {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 800px;
  height: 450px;
  z-index: 10;
}

/* 窗口内饰 */
.window-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 720px;
  height: 332px;
  padding: 40px;
  overflow-y: auto;
  /*
  background-image: url("image/window/background.png");
  background-repeat: no-repeat;
  */
  background-color: rgba(240, 217, 194, 0.85);
  border: 20px solid rgba(134, 93, 52, 0.85);

}


.window-open-animate {
  animation: windowOpen 0.25s linear;
  -moz-animation: windowOpen 0.25s linear;
  -webkit-animation: windowOpen 0.25s linear;
}
.window-close-animate {
  animation: windowClose 0.25s linear;
  -moz-animation: windowClose 0.25s linear;
  -webkit-animation: windowClose 0.25s linear;
}


@keyframes windowOpen
{
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes windowClose
{
  from { opacity: 1; }
  to { opacity: 0; }
}

.brownButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
	background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
	background-color:#7d5d3b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	padding:2px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}

.brownButton:disabled {
  opacity: 0.4;
}

.brownButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
	background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
	background-color:#634b30;
}
