
html {
  overflow: auto;
}

html, body {
  margin: 0;
}

.disabled-user-select {
  background-color: gray;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  -o-user-select: none;
  user-select: none;
}

.game-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#ProgressBar {
  opacity: 0;
  z-index: -999;
  position: fixed;
  top: 45%;
  left: 25%;
  height: 25px;
  width: 50%;
  background-color: #f7f7f7;
  padding: 5px;
  margin: 50px 0;
  border-radius: 4px;
  border: 1px solid rgba(39, 41, 43, 0.15);
}

#ProgressBarInner {
  display: inline-block;
  height: 100%;
  border-radius: 4px;
  background-color: #888888;
  text-align: center;
  color: green;
  font-size: 20px;
  font-weight: bold;
}

.btn {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  padding: 12px;
  background: #825a23;
  text-decoration: none;
  margin: 10px;
}

.btn:hover {
  background: #ab7d3e;
  text-decoration: none;
}

.login-box {
  width: 320px;
  height: 400px;
  margin: auto;
  background-color: #666666;
  text-align: center;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
}

.login-box input {
  width: 300px;
  height: 50px;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  text-align: center;
  font-size: 25px;
  background-color: #d5ab63;
}

.register-box {
  width: 320px;
  height: 1440px;
  margin: auto;
  background-color: #666666;
  text-align: center;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  text-align: center;
  display: none;
}

.register-box input {
  width: 300px;
  height: 50px;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  text-align: center;
  font-size: 25px;
  background-color: #d5ab63;
  margin: 10px;
}

.register-box label {
  font-size: 25px;
  color: white;
}

.register-box select {
  width: 200px;
  height: 50px;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  text-align: center;
  font-size: 25px;
  background-color: #d5ab63;
  margin: 10px;
}

.register-box #previewBox {
  position: fixed;
  left: 50%;
  margin-left: -160px;
  width: 320px;
  background-color: #666666;
  text-align: center;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
}

#talkBox {
  visibility: hidden;
  z-index: 101;
  position: fixed;
}

#talkInput {
  width: 600px;
  height: 40px;
  font-size: 24px;
}
