.archiveWindow {

  #archiveWindowTable {
    width: 100%;
    overflow-y: auto;
    height: 320px;
  }

  .archiveWindowItem {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px 10px;
  }

  .archiveWindowItem > button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
  }

  #archiveWindowItemBar button {
    width: 100px;
    height: 30px;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
  }

  #archiveWindowClose {
    float: right;
  }

}
