
.inventoryWindow {


  table {
    width: 100%;

    button {
      width: 60px;
      height: 40px;
      font-size: 16px;
    }
  }

  #inventoryWindowItemBar {
    height: 50px;
  }

  #inventoryWindowItemBar > button {
    width: 60px;
    height: 40px;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  #inventoryWindowClose {
    float: right;
  }

  #inventoryWindowStatus {
    float: right;
  }

  #inventoryWindowTable tr:nth-child(odd) {
    background-color: rgba(192, 192, 192, 0.6);
  }

  #inventoryWindowGold {
    position: absolute;
    right: 100px;
    bottom: 10px;
    font-size: 20px;
    color: black;
    font-weight: bold;
  }


}
