
.mainWindow {

  h1 {
    font-size: 60px;
    margin-bottom: 0;
  }

  h4 {
    margin-bottom: 0;
  }

  button {
    width: 120px;
    height: 60px;
    margin-top: 10px;
  }

  #mainWindowBox {
    text-align: center;
    height: 412px;
    background-color: rgba(240, 217, 194, 0.85);
    border: 20px solid rgba(134, 93, 52, 0.85);
  }

  #mainWindowFullscreen {
    position: absolute;
    left: 640px;
    top: 30px;
  }

}
