
html {
  overflow: auto;
}

html, body {
  margin: 0;
  background-color: black;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  -o-user-select: none;
  user-select: none;
}

.GameWindowClass {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 800px;
  height: 450px;
  z-index: 10;
}


#registerWindow {
  text-align: center;
  background-color: green;
}

#registerWindow input {
  width: 300px;
  height: 50px;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  text-align: center;
  font-size: 25px;
  background-color: #d5ab63;
  margin: 10px;
}

#registerWindow label {
  font-size: 25px;
  color: white;
}

#registerWindow select {
  width: 200px;
  height: 50px;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  text-align: center;
  font-size: 25px;
  background-color: #d5ab63;
  margin: 10px;
}


/* 窗口内饰 */
.window-box {
  position: absolute;
  width: 760px;
  height: 410px;
  left: 10px;
  top: 10px;
  padding: 5px;
  background-color: rgba(100, 100, 100, 0.75);
  border: 5px solid gray;
  border-radius: 10px;
  overflow-y: auto;
}
